.title {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  font-family: serif;
  text-align: center;
  padding: 11px;
}
.recipe-container {
  padding: 20px;
}

.recipe-list {
  text-align: left;
  padding: 10px;
  background-color: aliceblue;
}